doctype html
html
    head
        title="Filmdium"
        link(rel="stylesheet" href="/stylesheets/index.css")
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap" rel="stylesheet")
        //- add page specific styles by appending to the head
        //- add page specific js
        //- script(src="/javascripts/index.js" type="module" defer)
    body
        div(class='navbar')
            div(class='nav-title')
                h1 Filmdium
            if locals.authenticated
                span(class='user-name') Welcome #{user.fullName}!
            else
                ul(class='nav-links')
                    li
                        a(id='sign-in-btn' href='/users/log-in') Sign In
                    li
                        a(id='sign-up-btn' href='/users/register') Sign Up
        div(class='main-page')
            div(class='section1')
                h1(id='heading') Stay curious.
                p(id='description') Discover stores, films, thinking and expertise from writers on films.
            if locals.authenticated
                a(id='start-reading-btn' href='/stories') Start Reading
            else
                a(id='start-reading-btn' href='/users/log-in') Start Reading
            img(id='main-img' src='https://images.unsplash.com/photo-1518715303843-586e350765b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80')
            h3(id='trending-heading') Trending on Filmdium
            div(class='stories-section')
                div(id='story1' class='story-rating')
                    div(class='rating') 1
                    div(class='card')
                        p(class='card-author') Justin Yi
                        p(class='card-title') Avengers
                        p(class='card-date') May 13, 2022
                div(id='story2' class='story-rating')
                    div(class='rating') 2
                    div(class='card')
                        p(class='card-author') Demo User
                        p(class='card-title') National Treasure
                        p(class='card-date') May 13, 2022
                div(id='story3' class='story-rating')
                    div(class='rating') 3
                    div(class='card')
                        p(class='card-author') Demo User
                        p(class='card-title') The Prestige
                        p(class='card-date') May 13, 2022
                div(id='story4' class='story-rating')
                    div(class='rating') 4
                    div(class='card')
                        p(class='card-author') Jorge Denis
                        p(class='card-title') Interstellar
                        p(class='card-date') May 13, 2022
                div(id='story5' class='story-rating')
                    div(class='rating') 5
                    div(class='card')
                        p(class='card-author') Jorge Denis
                        p(class='card-title') GRADE A FOR BATMAN
                        p(class='card-date') May 13, 2022
                div(id='story6' class='story-rating')
                    div(class='rating') 6
                    div(class='card')
                        p(class='card-author') Jacob Thompson
                        p(class='card-title') Remember the Titans
                        p(class='card-date') May 13, 2022
                div(id='story7' class='story-rating')
                    div(class='rating') 7
                    div(class='card')
                        p(class='card-author') Justin Yi
                        p(class='card-title') The Matrix
                        p(class='card-date') May 13, 2022
                div(id='story8' class='story-rating')
                    div(class='rating') 8
                    div(class='card')
                        p(class='card-author') Jorge Denis
                        p(class='card-title') The Fast and the Furious: Tokyo Drift
                        p(class='card-date') May 13, 2022
                div(id='story9' class='story-rating')
                    div(class='rating') 9
                    div(class='card')
                        p(class='card-author') Osvaldo Salomon
                        p(class='card-title') Oblivion
                        p(class='card-date') May 13, 2022
            div(id='see-more')
                a(id='see-more-link' href='/stories') See more articles
