doctype html
html
    head
        block head
            title="Filmdium"
            link(rel='stylesheet' href='/stylesheets/reset.css')
            
    body
        div
            ul
            if locals.authenticated
                span Welcome #{user.fullName}!
                a(href='/stories/new') Create a new Story
                a(href='/') Home
                form(action='/users/logout' method='post')
                    button(type='submit') Logout
            else
                span()
                    div
                        a(href='/users/log-in') Login
                        a(href='/users/register') Register
        block content
