doctype html
html
  head
      block head
        title="Express Starter App"
        link(rel='stylesheet' href='/stylesheets/reset.css')
  body
    div
        ul
        if locals.authenticated
          span Welcome #{user.fullName}!
          a(href='/stories/new') Create a new Story
          form(action='/users/logout' method='post')
            button(type='submit') Logout
        else
          span()
            div
              a(href='/users/log-in') Login
            div
            div
              a(href='/users/register') Register
              form(action='/users/log-in' method="post")
                input(type="hidden" name="_csrf" value=csrfToken)
                input(type="hidden" name="email" value='demo@demo.com')
                input(type="hidden" name="password" value='password123')
                button(type="submit" id='demoButton') Demo User
    block content
