doctype html
html
    head
        block head
            title="Filmdium"
            link(rel='stylesheet' href='/stylesheets/navbar.css')
            link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
        body
            div(class='sidenav')
                div(class='logo-sidenav')
                    i.fa.fa-film
                div(class='middle-sidenav')
                    a(href="/")
                        i.fa.fa-home
                    a(href="/stories/new")
                        i.fa.fa-pencil-square-o
                    a(href="/stories")
                        i.fa.fa-book
                div(class='bottom-sidenav')
                    i.fa.fa-user-circle-o
            block content



