extends layout.pug

include error.pug

block content
    div
        form(action='/users/log-in' method="post")
            input(type="hidden" name="_csrf" value=csrfToken)
            input(type="hidden" name="email" value='demo@demo.com')
            input(type="hidden" name="password" value='password123')
            button(type="submit" id='demoButton') Demo User
    +validationErrorSummary(errors)
    form(action='/users/log-in' method="post")
        input(type="hidden" name="_csrf" value=csrfToken)
        label Email
        input(type="email" name="email" required)
        label Password
        input(type="password" name="password" required)
        button(type="submit") Log-In
