doctype html
html
    head
        title="Filmdium"
        link(rel="stylesheet" href="/stylesheets/login.css")
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap" rel="stylesheet")
    include error.pug
    +validationErrorSummary(errors)
    div(class="main-content")
        div(class="form")
            form(action='/users/log-in' method="post")
                h1(class="header") Sign in
                input(type="hidden" name="_csrf" value=csrfToken)
                label.email Email
                input(type="email" name="email" class="email-box" placeholder="Enter your email" required)
                label.password Password
                input(type="password" name="password" class="password-box" placeholder="Enter your password" required)
                button(type="submit" class="sign-in-button") Sign in
                div(class="account") Don't have an account?
                    a(class="register-link" id='register-button' href=`/users/register`) Sign up

            div(class='demo-user')
                form(action='/users/log-in' method="post")
                    input(type="hidden" name="_csrf" value=csrfToken)
                    input(type="hidden" name="email" value='demo@demo.com')
                    input(type="hidden" name="password" value='password123')
                    button(class="sign-in-button" type="submit" id='demoButton') Demo User

