body {
    background: url(https://images.unsplash.com/photo-1634118931958-f1cf1f9c6156?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1335&q=80) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

input::placeholder {
    font-family: 'Montserrat', sans-serif;
}

.filmdium {
    color:white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-size: 3em;
}

.header {
    display: block;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 1.5em;
}

.form {
    background-color: white;
    height: 35em;
    width: 35em;
    position: absolute;
    top: 20%;
    left: 35%;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.email {
    font-weight: bold;
    padding-left: 1.5em;
    display: flex;
    padding-bottom: .5em;
}

.password {
    font-weight: bold;
    padding-left: 1.5em;
    display: flex;
    margin-top: 2em;
    padding-bottom: .5em;
}

.email-box {
    width: 38em;
    border-radius: .5em;
    padding: .7em;
    margin-left: 1.5em;
    margin-bottom: 1em;
}

.password-box {
    width: 38em;
    border-radius: .5em;
    padding: .7em;
    margin-left: 1.5em;
    margin-bottom: 1em;
}

.sign-in-button {
    text-decoration: none;
    background-color: #1E64DD;
    color: white;
    padding: 15px 5px 15px 5px;
    border-radius: .5em;
    border: none;
    width: 18em;
    margin: 0 auto 2em 6.5em;
    font-size: 18px;
    margin-top: .6em
}

.account {
    display: inline-block;
    padding-left: 8.5em;
    padding-right: .3em;
    padding-top: 3em;
}

.register-link {
    text-decoration: none;
    display: inline-block;
    justify-content: right;
    color: #1E64DD;
}

#register-button {
    margin-top: .1em;
}


.demo-user {
    position: absolute;
    bottom: 2em;
}
