body {
    font: 14px 'Montserrat', sans-serif;

}

a {
    text-decoration: none;
}

li, a {
    list-style: none;
    text-decoration: none;
}

.top-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    display:flex;
    justify-content: flex-end;
}

.nav-links {
    display: flex;
    gap: 1em;
    font-size: 15px;
    margin-right: 2em;
}

.nav-links li {
    padding: 5px 14px;
}

#sign-in-btn {
    color: white;
}

#sign-in-btn:hover {
    color: white;
    padding: .2em .2em;
    border-radius: .5em;
    transition: 0.3s ease;
}

#sign-up-btn {
    color: white;
    background-color: #1E64DD;
    border-radius: .5em;
    padding: .4em .7em;
}

#sign-up-btn:hover {
    color: white;
    background-color: #1f1f1f;
    border-radius: .5em;
    padding: .5em .8em;
    transition: 0.3s ease;
}

body {
    background-color: #404654;
}

.register-container {
    height: 100%;
    width: 100%;
}

.header {
    position: absolute;
    padding-left: 2em;
    padding-top: 1.5em;
    font-weight: bolder;
    font-size: 60px;
}

.main-img {
    position: absolute;
    margin-left: -1em;
    margin-top: -1em;
}


.form-box {
    background-color: white;
    box-shadow: 0 0 5px #9095A1;
    height: 45em;
    width: 45em;
    position: absolute;
    background-color: white;
    top: 30%;
    left: 45%;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.form-header {
    font-weight: bold;
    padding-left: .7em;
    padding-bottom: .7em;
    display:flex
}

.name {
    font-weight: bold;
    padding-left: 1.5em;
    display:flex;
    padding-bottom: .2em;
}

.username {
    font-weight: bold;
    padding-left: 1.5em;
    display:flex;
    padding-bottom: .2em;
}

.email {
    font-weight: bold;
    padding-left: 1.5em;
    display:flex;
    padding-bottom: .2em;
}

.password {
    font-weight: bold;
    padding-left: 1.5em;
    display:flex;
    padding-bottom: .2em;
}

.confirm {
    font-weight: bold;
    padding-left: 1.5em;
    display:flex;
    padding-bottom: .2em;
}

.submit-button {
    text-decoration: none;
    background-color: #1E64DD;
    color: white;
    padding: 8px 5px 8px 5px;
    border-radius: .5em;
    width: 33em;
    font-size: .7em;
    margin: 2em auto;
    margin-left: 1em;
    font-size: 18px
}

input {
    width: 44em;
    border-radius: .5em;
    padding: .7em;
    margin-left: 1.5em;
    margin-bottom: 1em;
}

.account {
    display: inline-block;
    padding-left: 11.5em;
    padding-right: .3em;
    /* padding-bottom: 1em; */
}

.log-in-link {
    text-decoration: none;
    display: inline-block;
    justify-content: right;
    color: #1E64DD;
}

.top-heading {
    position: absolute;
    width: 112em;
    display: flex;
    justify-content: flex-end;
}
