body {
    background-color: #F3F4F6;
}

p {
    white-space: nowrap;
    overflow: hidden;
    width: 50em;
    text-overflow: ellipsis;
}

.stories-section {
    margin-left: 5em;
}

.story {
    display: flex;
    box-shadow: 0 0 5px #9095A1;
    border-radius: .5em;
    margin: 2em;
    background-color: white;
    /*width: 70em;*/
    height: 10em;
}

.name-and-date {
    display: flex;
}

.story-body {
    padding: 1em;
}

.story-body-img {
    width: 100%;
    resize: none;
    float: right;
}

.story-title a {
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bold;
}

.story-title a:hover {
    color: #008cff;
}

.story-author {
    margin-right: 1em;
    margin-bottom: .7em;
    font-size: .9em;
}

.story-date {
    font-size: .9em;
    color: #9095A1;
}

.story-img {
    border-top-right-radius: .5em;
    border-bottom-right-radius: .5em;
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 100%;
    float: right;
    width: 45%;
    resize: none;
    object-fit: cover;
}
